/* Dark #201E21 */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GLOBAL */

html {
    font-family: 'Lato', sans-serif;
    font-family: 'Italiana', serif;    
    color: #fff;
    font-size: 125%;
}

body {
    background-color: #14171f;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.mediaLinks img {
    width: 100%;
    height: auto;
    display: block;
}

section {
    padding: 65px 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.wrapper {
    max-width: 1100px;
    width: 85%;
    margin: 0 auto;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 strong {
    font-size: 6rem;
}

h2 strong {
    font-size: 6rem;

}

header li {
    font-size: 1.2rem;
    color: #FABA63;
}

header h3 {
    color: #FABA63;
    position: relative;
    bottom: 10px;
}

p {
    font-family: 'Lato', sans-serif;
}
/* Header */

header {
    background-image: url(./assets/assets/header-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

div.mediaLinks {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 20px;
    height: auto;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

header h1 {
    display: flex;
    justify-content:left ;
    align-items: center;
}

/* Handcrafted */

section.handCrafted {
    display: flex;
    position: relative;
}

section.handCrafted h3 {
    display: block;
    position: absolute;
    border:#FABA63 ;
    border-width: 5px;

}

section.img {
    width: 100%;
    height: auto;
    display: block;
}

/* Latest Collection */

section.latestCollection {
    background-color: #201E21;
}

section.latestCollection h2 {
    text-align: center;
    padding: 0 0 40px 0;
}

section.latestCollection ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

section.latestCollection li {
    flex-basis: 32%;
}




/* CEC */

section.CEC ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Sustainable Materials */

section.susMat {
    background-color: #201E21;
}

section.susMat {
    background-image: url(./assets/assets/image-2@2x.png);
}

section.susMat h3{
    display: block;
    border: #FABA63;
    border-width: 5px;
}
section.susMat article {
    width: 50%;
}



/* Mix & Match */

section.mixMatch {
    background-color: #201E21;
}

section.mixMatch {
    background-image: url(./assets/assets/image-2-copy@2x.png);
}

/* directory */




/* stayUpdated */

section.stayUpdated {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* contact */

section.contact {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}


/* Footer */

footer p {
    text-align: center;
}
footer {
    background-color: #000;
}